{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    工具箱（汇集各路优秀工具）
{% endblock title %}

{% block content %}
<br>
<div class="container">
    <div class="row mt-2">

        {% for tool in tools %}
        <!-- 文章内容 -->
        <div class="col-4 mb-4">
        <!-- 卡片容器 -->
            <div class="card h-100">
                <!-- 标题 -->
                <h4 class="card-header">{{ tool.title }}</h4>
                <!-- 摘要 -->
                <div class="card-body">
                    <p class="card-text">{{ tool.body }}...</p>
                </div>
                <!-- 注脚 -->
                <div class="card-footer">
                    <a href="{{ tool.url }}" class="btn btn-primary">查看工具</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}