{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    工作报告
{% endblock title %}

{% block content %}
<br><img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2361956380,2183507375&fm=26&gp=0.jpg" alt="img" style="width: 1300px;height: 150px;"><br><br>
<h4>项目名称：{{ timeplan.title }}</h4>
<h5>项目简介：{{ timeplan.describe }}</h5><br>
<h4>开始时间：{{ timeplan.start }}</h4>
<h4>结束时间：{{ timeplan.finish }}</h4>
<h4>难度：{{ timeplan.differ }}</h4>
<h4>工作量：{{ timeplan.num }}</h4><br>
<h4>效率得分：{{ timeplan.result }}</h4>
<h4>效率得分等第：{{ timeplan.gb4 }}</h4><br>
<div class="alert alert-primary" role="alert">
    由于无大众认可的专业效率评定标准，所以效率得分和效率得分等第均属自编公式。<br>计算结果仅供参考，可能有部分错误，欢迎私信jackyfeng201314@163.com前来纠错或提供您的建议。<br>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    自编公式：2×工作难度×工作量÷工作时间
</div>
{% endblock content %}